.articles__image {
    width: 40px;
    border-radius: $radius__large;
    margin: 2vh;
}

.articles__container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.articles__container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.articles__header {
    margin: 0 0 2vh 0;
}

@media (max-width: 767px) {
    .articles__container {
        width: 100%;
    }
}