button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
}

.primaryButton {
  background: black;
  color: white;
}

.secondaryButton {
  background: white;
  color: black;
}