button {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.primaryButton {
  background: black;
  color: white;
  transition: all 0.4s ease;
}

.secondaryButton {
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.05) 0 7px 25px 0;
  transition: all 0.4s ease;
}

.tertiaryButton {
  background: transparent;
  border: 1px solid black;
}

.reviewButton {
  background: rgb(122, 252, 137);
  color: black;
  font-weight: 700;
  transition: all 0.4s ease;
  box-shadow: 0 0.9px 4px rgba(0, 0, 0, 0.003),
    0 2.1px 8.5px rgba(0, 0, 0, 0.003), 0 3.9px 14.1px rgba(0, 0, 0, 0.01),
    0 6.9px 22.4px rgba(0, 0, 0, 0.05), 0 13px 37.4px rgba(0, 0, 0, 0.014),
    0 31px 80px rgba(0, 0, 0, 0.01);
}

.primaryButton:hover {
  opacity: 1;
  transform: translate3d(0px, -2px, 0px);
  box-shadow: 0 0.9px 4px rgba(0, 0, 0, 0.003),
    0 2.1px 8.5px rgba(0, 0, 0, 0.003), 0 3.9px 14.1px rgba(0, 0, 0, 0.01),
    0 6.9px 22.4px rgba(0, 0, 0, 0.05), 0 13px 37.4px rgba(0, 0, 0, 0.014),
    0 31px 80px rgba(0, 0, 0, 0.01);
}

.secondaryButton:hover {
  opacity: 1;
  transform: translate3d(0px, -2px, 0px);
  box-shadow: 0 0.9px 4px rgba(0, 0, 0, 0.003),
    0 2.1px 8.5px rgba(0, 0, 0, 0.003), 0 3.9px 14.1px rgba(0, 0, 0, 0.01),
    0 6.9px 22.4px rgba(0, 0, 0, 0.05), 0 13px 37.4px rgba(0, 0, 0, 0.014),
    0 31px 80px rgba(0, 0, 0, 0.01);
}

.backButton {
  margin-bottom: 2vh;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  border-radius: $radius__small;
}

.deleteButton {
  background: #e81e4e;
  color: white;
}

@media (max-width: 767px) {
  button {
    font-size: 13px;
    padding: 12px 20px;
  }
}
