.Categories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  align-items: center;
}

.LinkBox__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.nowrap {
  flex-wrap: nowrap;
}

@media (max-width: 767px) {
  .Categories {
    .funnel {
      display: flex;
      flex-direction: column;
    }
  }
}
