.Projects__filter {
    // position: fixed;
    margin: 30px;
    padding: 20px;
    width: 85%;
    height: 600px;
    background-color: $lightGrey;
    border-radius: $radius__medium;
}

.form__group div {
    display: flex;
    align-items: center;
}

.form__group div label {
    margin-right: 10px;
    margin-bottom: 8px;
}