.Footer {
    background-color: $lightGrey;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        margin: 1vh 0;
    }

    &__logos {
        display: flex;

        img {
            height: 5vh;
            margin: 1vh 1vw;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;

        li {
            margin: 1vh 2vw;
            font-weight: 600;
            display: flex;
            align-items: center;
        }
    }

    &__react {
        margin: 0 0;
    }

    &__github-logo {
        width: 20px;
        height: 20px;
        margin-right: 0.6vw;
    }
}