.input__form {
  margin: 0 auto;
  max-width: 250px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form__group {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
    }

    input {
      margin-top: 5px;
      padding-left: 10px;
      height: 45px;
      border: 1px solid $lightGrey;
      border-radius: $radius__small;
    }

    textarea {
      border: 1px solid $lightGrey;
      border-radius: $radius__small;
      margin-top: 5px;
      padding: 10px;
    }
  }

  button {
    margin-top: 20px;
    line-height: 32px;
  }
}
