.HelperCard {
    padding: 20px;
    width: 25vw;
    height: 40vh;
    background-color: $lightGrey;
    border-radius: $radius__medium;
    margin: 20px;

    &__image {
        border-radius: $radius__medium;
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }

    &__text {
        margin-top: 10px;
    }

    &__bio {
        height: 100px;
        overflow: scroll;
    }

    &__tag {
        background-color: $paleBlue;
    }
}

@media (max-width: 767px) {
    .HelperCard {
        width: 80vw;
    }
}