.NavMain {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 40px 60px;
  height: 70px;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 600;
  }

  .user__menu {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    align-items: center;

    .navbar__image {
      margin-right: 8px;
      img {
        width: 30px;
        height: 30px;
      }
    }
    .chevron {
      margin-left: 8px;
      margin-top: 1px;
    }
  }

  .NavMain .nav-list li:not(:last-child) {
    margin-right: 20px;
  }
}

.dropdown {
  padding: 10px;

  > * {
    margin-top: 10px;
  }
}
