@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.NavMain {
  min-width: 100vw;
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;

  &__logo {
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.NavMain .nav-list {
  // margin-left: auto;
  display: flex;
  align-items: center;

  li {
    margin-right: 20px;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 600;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    color: $primary;
  }

  a:hover {
    color: #5a5a5a;
  }

  .active {
    font-weight: 600;
    border-bottom: 2px solid $primary;
    transform: translate3d(0px, 1px, 0px);
  }

  .notActive {
    border-bottom: none;
  }

  .user__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .navbar__image {
      img {
        width: 30px;
        height: 30px;
      }
    }

    .chevron {
      margin-left: 8px;
      margin-top: 1px;
    }

    .rotate {
      transform: rotateZ(-180deg);
    }

    span {
      display: block;
    }
  }

  .NavMain .nav-list li:not(:last-child) {
    margin-right: 20px;
  }

  .dropdown {
    li {
      a {
        color: white;
      }
    }
  }
}

.tippy-box {
  background: $darkGrey;
  border-radius: $radius__medium;

  .tippy-content {
    padding: 15px 0;
  }
}

.tippy-arrow {
  color: $darkGrey;
}

.dropdown {
  margin: 0;
  padding: 0;

  .user__menu {
    padding: 5px;
    margin: 0px 15px;

    .user__image {
      margin-right: 10px;
      margin-left: 0;
    }
  }

  li {
    padding: 12px 25px;
    margin: 0;
    width: 100%;
    font-weight: 600;

    a {
      color: white;
    }
  }

  li:hover {
    background: #3d3d3d;
  }
}

.CreateProject__button {
  display: flex;
  align-items: center;

  img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .NavMain {
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ebebf5;
    margin-bottom: 30px;
    padding: 10px 10px 20px;
  }

  .nav-list {
    display: flex;
    justify-items: center;
    margin-top: 20px;

    a {
      font-size: 12px;
      line-height: 140%;
    }
  }

  .user__image {
    min-width: 30px;
  }

  .NavMain h3 {
    padding: 10px 20px;
  }

  .mobileHidden {
    display: none;
  }

  .secondaryButton {
    font-size: 13px;
    padding: 6px 10px;
  }

  .dropdown {
    margin: 0;
    padding: 0;

    .user__menu {
      padding: 5px;
      margin: 0px 15px;

      .user__image {
        margin-right: 10px;
        margin-left: 0;
      }
    }

    li {
      padding: 12px 25px;
      margin: 0;
      width: 100%;
      font-weight: 600;

      a {
        color: white;
        font-size: 13px;
      }

      span {
        font-size: 13px;
      }
    }
  }
}
