.Profile {
  .Profile__header {
    max-width: 900px;

    margin: 70px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Profile__image {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 60px;

      button {
        margin-top: 20px;
      }
    }

    .Profile__email {
      background-color: black;
      color: white;
      padding: 10px;
      display: inline-block;
      border-radius: $radius__small;
      margin-top: 2vh;

      .bold {
        font-weight: 900;
      }
    }

    .Profile__info {
      width: auto;
      min-width: 550px;

      .Profile__location {
        display: flex;

        img {
          margin-right: 8px;
        }
      }

      .Profile__bio {
        margin-top: 30px;
      }

      .PublicProfile {
        margin-top: 20px;

        a {
          margin-top: 10px;
          border-radius: $radius__small;
          padding: 10px;
          background-color: black;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  .Profile__content {
    max-width: 900px;
    margin: 70px auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .Profile__side {
    margin-right: 60px;
  }
}

.info__box {
  width: 300px;
  padding: 20px;
  border-radius: $radius__medium;
  margin-bottom: 20px;
  background: $lightGrey;

  a {
    color: $secondary;
    font-weight: 600;
  }
}

.tabs {
  display: flex;
  margin-bottom: 30px;
}

.user__image {
  margin: auto;
}

.user__image.round__image {
  border-radius: 100%;
  overflow: hidden;
  position: relative;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

@media (max-width: 767px) {
  .Profile {
    .Profile__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 50px 15px 30px 15px;

      .Profile__image {
        margin: 15px;
      }

      .Profile__info {
        min-width: 0px;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Profile__email {

          p {
            margin-bottom: 0;
          }
        }

        .Profile__bio {
          margin-top: 10px;
        }

        p {
          text-align: center;
          margin-bottom: 30px;
        }

        .PublicProfile {
          margin: 0 auto;
          text-align: center;
        }

        h2 {
          font-size: 26px;
          text-align: center;
        }
      }

      p {
        font-size: 14px;
      }
    }



    .Profile__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      margin: 30px 15px 60px 15px;

      .Profile__side {
        width: 100%;
        margin: 0 auto 30px 0;

        .info__box {
          width: 100%;
        }
      }
    }
  }
}