.Profile__projects {
  width: 100%;

  .ProjectCard {
    margin: 30px 0;
    transition: all 0.4s ease;

    .ProjectCard__image {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }
}

.ProjectCard:hover {
  transform: translate3d(0px, -4px, 0px);
}

.emptyStateProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  width: 100%;
  background-color: #fcfcff;
  padding: 25px;
  border-radius: $radius__medium;

  img {
    max-width: 150px;
  }
  p {
    text-align: center;
    margin: 20px 0;
  }
}
