.ProjectCard {
    padding: 20px;
    width: 100%;
    // background-color: $lightGrey;
    background-color: grey;
    border-radius: $radius__medium;
}

.ProjectCard__image {
    border-radius: $radius__medium;
}

.ProjectCard__text {
    margin-top: 10px;
}