.ProjectCard {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: $lightGrey;
  border-radius: $radius__medium;

  .desc {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__image {
    height: 20vh;
    width: 100%;
    object-fit: cover;
    border-radius: $radius__medium;
  }

  &__text {
    margin-top: 10px;
  }

  &__description {
    height: 100px;
    overflow: scroll;
  }

  .Tag {
    margin: 2px;
    font-size: 12px;
  }
}
