@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'Bodoni';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/bodoni/BodoniFLF-Roman.ttf') format('truetype');
}

@font-face {
  font-family: 'Bodoni';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/bodoni/BodoniFLF-Bold.ttf') format('truetype');
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

p,
span {
  font-size: 1rem;
}

.centered {
  text-align: center;
}

.serif {
  font-family: 'Bodoni', serif;
  font-weight: 700;
}

.margin {
  margin-left: 5px;
}
