.Helpers {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__infoCard {
        max-width: 1200px;
        width: 90%;
    }

    &__cards {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .Helpers {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Helpers__cards {
        width: 100vw;
    }
}