.Projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "infocard infocard infocard"
        "filter cards cards";
}

.Projects__infoCard {
    max-width: 1200px;
    width: 90%;
    grid-area: infocard;
    justify-self: center;
}

.Projects__filter {
    width: 30vw;
    max-width: 400px;
    min-height: 50vh;
    max-height: 60vh;
    margin-right: 2vw;
    padding: 20px;
    position: relative;
    left: 3vw;
    grid-area: filter;
    justify-self: flex-end;
}

.Projects__cards {
    max-width: 1200px;
    position: relative;
    left: 25px;
    grid-area: cards;
    display: flex;
    flex-wrap: wrap;
}

.Projects__links {
    width: 40%;
    margin: 30px 25px 25px 25px;
}

@media (max-width: 767px) {
    .Projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Projects__cards {
        width: 100vw;
    }

    .Projects__links {
        margin: 0 0 30px 0px;
        width: 85%;
    }
}