.singleProject {
    width: 80%;
    margin: 4vh 0 0 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "left left right";

    &__leftColumn {
        grid-area: left;
    }

    &__rightColumn {
        grid-area: right;
        display: flex;
        flex-direction: column;
    }

    &__category {
        padding: 10px 15px;
        display: inline-block;
        margin: 20px 0;
        border-radius: $radius__small;
        background-color: black;
        color: white;
        box-shadow: 0 0.9px 4px rgba(0, 0, 0, 0.003),
            0 2.1px 8.5px rgba(0, 0, 0, 0.003),
            0 3.9px 14.1px rgba(0, 0, 0, 0.01),
            0 6.9px 22.4px rgba(0, 0, 0, 0.05),
            0 13px 37.4px rgba(0, 0, 0, 0.014),
            0 31px 80px rgba(0, 0, 0, 0.01);
    }

    &__image {
        margin: 20px 0;
        border-radius: $radius__medium;
    }

    &__project-description {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .singleProject {
        display: flex;
        flex-direction: column;

        &__project-description {
            width: 100%;
        }
    }
}