.ui__page {
  max-width: 1200px;
  margin: 60px auto;

  section {
    padding: 60px 0;
    margin: auto;
  }

  .buttons,
  .text {
    max-width: 500px;
  }

  .linkBox {
    max-width: 700px;
  }

  .buttons button:not(:last-child) {
    margin-top: 10px;
    margin-right: 10px;
  }

  .text p {
    margin-bottom: 32px;
  }

  .flexed {
    display: flex;
    flex-direction: row;
  }
}
