// Variables
@import 'setup.scss';

@import 'styles/components/navbar.scss';
@import 'styles/components/hero.scss';
@import 'styles/components/categories.scss';
@import 'styles/components/textContainer.scss';
@import 'styles/components/linkBox.scss';

@import 'styles/reset.scss';
// @import "styles/pages/navbar.scss";
// Pages
@import 'styles/pages/ui.scss';
@import 'styles/pages/signup.scss';

// Components
@import 'styles/components/buttons.scss';
@import 'styles/components/text.scss';
@import 'styles/components/form.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

html {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}
