// Variables
@import 'setup.scss';

@import 'styles/components/navbar.scss';
@import 'styles/components/hero.scss';
@import 'styles/components/categories.scss';
@import 'styles/components/textContainer.scss';
@import 'styles/components/linkBox.scss';
@import 'styles/components/infoCard.scss';

@import 'styles/reset.scss';

// Pages
@import 'styles/pages/ui.scss';
@import 'styles/pages/signup.scss';
@import 'styles/pages/projects.scss';
@import 'styles/pages/singleProject.scss';

// Components
@import 'styles/components/articles.scss';
@import 'styles/components/buttons.scss';
@import 'styles/components/text.scss';
@import 'styles/components/form.scss';
@import 'styles/components/tagBox.scss';
@import 'styles/components/profile.scss';
@import 'styles/components/projectCard.scss';
@import 'styles/components/filter.scss';
@import 'styles/components/tag.scss';
@import 'styles/components/charity.scss';
@import 'styles/components/skillsCard.scss';
@import 'styles/components/teamMembersCard.scss';
@import 'styles/components/applicationPopUp.scss';
@import 'styles/components/projects.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
}

html {
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.colored {
  color: $secondary;
  font-weight: 600;
  border-bottom: 1.5px solid $secondary;
}

ul {
  list-style-type: none;
}

li {
  cursor: pointer;
}
