// Colors
$primary: black;
$secondary: #5e81f4;
$background: #f5f5fb;
$lightGrey: #e8e8f2;
$darkGrey: #363636;
$palePink: #f7e5e9;
$paleBlue: #dbedff;
$paleYellow: #ffecca;
$paleGreen: #D4F5DC;

// Border radius
$radius__small: 4px;
$radius__medium: 10px;
$radius__large: 40px;

// Suggested Meda Queries
// max-width: 1024px
// max-width: 767px
// max-width: 480px