// Colors
$primary: black;
$secondary: black;
$background: #f5f5fb;
$lightGrey: #e9eaf0;

// Border radius
$radius__small: 4px;
$radius__medium: 10px;

// Suggested Meda Queries
// max-width: 1024px
// max-width: 767px
// max-width: 480px
