// Colors
$primary: black;
$secondary: black;
$background: #f5f5fb;
$lightGrey: #efeff8;
$darkGrey: #363636;
$palePink: #f7e5e9;
$paleBlue: #dbedff;
$paleYellow: #ffecca;
$paleGreen: #a8eabc;

// Border radius
$radius__small: 4px;
$radius__medium: 10px;
$radius__large: 40px;

// Suggested Meda Queries
// max-width: 1024px
// max-width: 767px
// max-width: 480px
